<section class="container">
  <h1>Web Authentication Demo</h1>
  <p>Use the reusable WebEngine pages below. You can override these templates in a host app.</p>
  <ul>
    <li><a href="/login">Login</a></li>
    <li><a href="/signup">Signup</a></li>
    <li><a href="/account">My Account</a></li>
    <li><a href="/sessions">Sessions</a></li>
  </ul>
</section>
